.container {
    display: flex; 
    justify-content: center; 
    align-items: center;
    width: 100vw;
    height: 100vh
}

.pwBox {
    background-color: #fff;
    width: 500px;
    height: 500px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.pwDisplay {
    width: 70%;
    height: 30px;
    border: 1px solid #aaa;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    box-shadow: 0 0 5px #aaa inset;
}

button {
    width: 50%;
    padding: 10px;
    background-color: #9FE2BF;
    border: none;
    border-radius: 5px;
    box-shadow: 0 0 5px #ccc;
}

button:hover {
    filter: brightness(90%);
    cursor: pointer;
}